// ============ Colors ============
// Header
$headerBg: #404041;
$headerMagenta: #ED458B;
$headerWhite: #E6E7E8;
// Button
$btnDisabled: #D0D2D3;
$btnEnable: #929497;
$btnMagenta: #EB008B;
$btnText: #FFFFFF;
// Input
$inputColor: #D0D2D3;
// Text
$mainMagenta: #EB008B;
$mainText: #404041;

// ============ Measurements ============
$maxWidth : 100%;

// ============ Animations ============
// Setting icon
@keyframes rotateIcon {
  80%  { transform: rotate(-360deg); }
  100% { transform: rotate(720deg); }
}
// Indicator text
@keyframes twinkle {
  0%   { color: white; }
  50%  { color: $mainMagenta; }
  100% { color: white; }
}
// Input Outline
@keyframes outlineColor {
  0%   { border-color: $inputColor; }
  50%  { border-color: $mainMagenta; }
  100% { border-color: $inputColor; }
}

// ============ Setup ============
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

// ============ Global Classes ============
.btn-global {
  background-color: $btnDisabled;
  border-radius: 20px;
  border-style: none;
  color: $btnText;
  font-size: 180%;
  font-weight: lighter;
  margin: 20px 10px;
  width: 40%;
  &:focus {
    background-color: $btnEnable;
    outline: 0;
  }
  &:hover {
    background-color: $btnMagenta;
  }
}

.outlineColor {
  animation: outlineColor 1s infinite;
}

.spark {
  animation: twinkle 3s infinite;
}

// ============ Header ============
header {
  background-color: $headerBg;
  text-align: center;
}

h1 {
  color: $headerWhite;
  font-size: 350%;
  font-weight: 300;
  margin: 8px auto;
  max-width: 50%;
  span {
    color: $headerMagenta;
    font-weight: 700;
  }
}

// ============ Main ============
main {
  color: $mainText;
  text-align: center;
}
form {
  margin: 20px auto;
  max-width: 35%;
  position: relative;
}

#guessInput {
  border: 1px solid $inputColor;
  color: $inputColor;
  font-size: 180%;
  font-weight: lighter;
  height: 35px;
  margin: 10px auto 0px;;
  padding-bottom: 1%;
  padding-left: 2%;
  width: 97%;
}

#settingsBtn {
  border: none;
  background: url(/assets/settings.svg) no-repeat;
  background-position: center;
  background-size: contain;
  height: 42px;
  margin-top: 10px;
  position: absolute;
    top: 0;
    right: -45px;
  width: 40px;
  &:hover {
    animation: rotateIcon 2s;
  }
  &:focus {
    outline: 0;
  }
}

#error-msg {
  color: $mainMagenta;
  font-size: 105%;
  font-weight: 700;
  margin: 5px auto;
  width: 80%;
}

#range-container {
  display: none;
}

.range-input-container {
  display: inline-block;
  width: 45%;
  label {
    font-size: 130%;
  }
}

.range-input {
  border: 1px solid $inputColor;
  color: $inputColor;
  display: block;
  font-size: 140%;
  font-weight: lighter;
  height: 35px;
  margin: 5px auto;
  padding-bottom: 1%;
  padding-left: 2%;
  max-width: 75%;
}

section {
  height: 350px;
  margin: -40px auto;
  max-width: 35%;
  padding-top: 20px;
  position: relative;
  text-align: center;
  p {
    font-size: 130%;
  }
}

#indicator {
  margin-top: 22px;
}

#last-guess {
  color: $mainMagenta;
  font-size: 200px;
  font-weight: 300;
  position: absolute;
    top: -36%;
    left: 0;
  text-align: center;
  width: 100%;
}

#emoji-element {
  color: $mainMagenta;
  font-size: 310%;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
}

#feedback {
  position: absolute;
    bottom: 15%;
    left: 0;
  width: 100%;
}

#resetBtn {
  font-size: 150%;
  margin: 0;
  position: absolute;
    bottom: 0;
    left: 0;
  width: 100%;
}

#new-ranges {
  color: $mainMagenta;
  font-size: 15px;
  font-weight: 700;
  opacity: 0.8;
}

// ============ Media Queries ============
@media (max-width: 910px) {
  h1 {
    max-width: 70%;
  }
}

@media (max-width: 650px) {
  h1 {
    max-width: 100%;
    font-size: 320%;
  }

  #emoji-element {
    font-size: 244%;
  }

  #guessInput {
    font-size: 150%;
  }

  #new-ranges {
    font-size: 12px;
  }

  .btn-global {
    font-size: 130%;
    width: 35%;
  }
}
