// TODO: alphabetical sort
// TODO: color refactoring
// TODO: max min inputs and container
// TODO: enable buttons check deisable estate color

// ------------ Colors ------------
// --header--
$headerBg: #404041;
$headerMagenta: #ED458B;
$headerWhite: #E6E7E8;
// --button--
$btnDisabled: #D0D2D3;
$btnMagenta: #EB008B;
$btnEnable: #929497;
$btnText: #FFFFFF;
// --input--
$inputColor: #D0D2D3;
// --text--
$mainText: #404041;
$mainMagenta: #EB008B;

$borderTest: 1px solid black;

// ------------ Measures ------------
$maxWidth : 75%;

// ------------ Animations ------------
@keyframes rotateIcon {
  85% { transform: rotate(-180deg); }
  100% { transform: rotate(720deg); }
}

// ------------ Setup ------------
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 150%;
  margin: 0;
}

// ------------ Global Classes ------------

// TODO: check if removed better
.input-container {
  position: relative;
}

.btn-global {
  background-color: $btnDisabled;
  border-radius: 10px;
  border-style: none;
  color: $btnText;
  font-weight: 300;
  &:focus {
    background-color: $btnEnable;
  }
  &:hover {
    background-color: $btnMagenta;
  }
}


// TODO: rearrage

.range-input {
  width: 10%;
}

label {
  font-size: 80%;
}

// ------------ Header ------------
header {
  background-color: $headerBg;
  margin: 0 auto;
  max-width: $maxWidth;
  text-align: center;
}

h1 {
  font-weight: 300;
  color: $headerWhite;
  margin: 0;
  span {
    color: $headerMagenta;
    font-weight: 700;
  }
}

// ------------ Main ------------
main {
  color: $mainText;
  margin: 0 auto;
  max-width: $maxWidth;
  text-align: center;
  border: $borderTest;
}

form {
  margin: 10px auto;
  width: 100%;
  button {
    font-size: 16px;
    margin: 10px;
    min-width: 100px;
  }
}

p {
  margin: 0;
  border: $borderTest;
}

// ------------ Id ------------

#guessInput {
  border: 1px solid $inputColor;
  padding: 5px;
  width: 59%;
}

#last-guess {
  color: $mainMagenta;
  font-size: 72px;
}

#resetBtn {
  margin-top: 10px;
  width: 59%;
}

#error-msg {
  color: $mainMagenta;
  font-size: 12px;
  font-weight: 700;
}

#settingsBtn {
  background: url(/assets/settings.svg) no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  height: 20px;
  margin-left: 5px;
  width: 20px;
  &:hover {
    animation: rotateIcon 2s;
  }
}
